package action

import (
    "context"
    pb "gitlab.com/qasir/{{.ProjectName}}/entity"
)

func (a handler) Example(ctx context.Context, request *pb.ExampleRequest) (result *pb.ExampleResponse, err error) {
    return
}