package handler

import (
	"context"
	"fmt"

	"{{.ProjectName}}/util"
)

type Handle struct {
	e util.Error
}

func (h *Handle) Handle(ctx context.Context, attributes map[string]string, data []byte) error {
	var req entity.SomeEntity
	if err := util.DecodeMessageData(data, &req); err != nil {
		return h.e.ErrBadRequest(fmt.Sprintf("unsupported message , %s", err.Error()))
	}
	// TODO call your domain / action
	return nil
}

func NewHandle() *Handle {
	return &Handle{}
}
