package mongo

import (
	"context"

	"go.mongodb.org/mongo-driver/bson/primitive"
	"go.mongodb.org/mongo-driver/mongo/options"
)

type MongoRepoInterface interface {
	Find(context.Context, string, interface{}, map[string]interface{}, *options.FindOptions) error
	FindOne(context.Context, string, interface{}, map[string]interface{}, *options.FindOneOptions) error
	InsertOne(context.Context, string, interface{}) (primitive.ObjectID, error)
	UpdateOne(context.Context, string, map[string]interface{}, map[string]interface{}) (primitive.ObjectID, error)
}
