package util

import (
     "context"
       	"strconv"
    	jsoniter "github.com/json-iterator/go"
    	"github.com/qasir-id/qistream/service/pubsub"
)

var (
	Json          = jsoniter.ConfigCompatibleWithStandardLibrary
)

func PublishTopic(ctx context.Context,byte ][]byte,topicName string){
	pubsub.PublishTopic(ctx, byte, topicName)
}

func StringToInt(s string) int {
	i, _ := strconv.Atoi(s)
	return i
}

func StringToInt64(s string) int64 {
	i, _ := strconv.ParseInt(s, 10, 64)
	return i
}