package util

import (
     "encoding/json"
     "strconv"
)

func AtoI(s string) int {
	i, _ := strconv.Atoi(s)
	return i
}

func AtoI64(s string) int64 {
	i, _ := strconv.ParseInt(s, 10, 64)
	return i
}



type MessageData struct {
	Action string      `json:"action"`
	Data   interface{} `json:"data"`
}

func DecodeMessageData(b []byte, i interface{}) error {
	md := &MessageData{Data: i}
	if err := json.Unmarshal(b, &md); err != nil {
		return err
	}
	return nil
}
