package userdb_mysql

import (
	"fmt"
	"log"
	"os"

	"github.com/jmoiron/sqlx"
	"gitlab.com/qasir/web/project/qasircore.git/database"
)

var DB *sqlx.DB

func OpenDB() {
	usernameAndPassword := fmt.Sprintf("%s:%s", os.Getenv("DB_MYSQL_USER"), os.Getenv("DB_MYSQL_PASSWORD"))
    hostName := fmt.Sprintf("tcp(%s:%s)", os.Getenv("DB_MYSQL_HOST"), os.Getenv("DB_MYSQL_PORT"))
    urlConnection := fmt.Sprintf("%s@%s/%s?charset=utf8&parseTime=true&loc=UTC", usernameAndPassword, hostName, os.Getenv("DB_MYSQL_DATABASE"))

	db, err := database.OpenDBx(os.Getenv("DB_MYSQL_DRIVER"), urlConnection)
	if err != nil {
		log.Panicf("⇨ %s Data source %s , Failed : %s \n", os.Getenv("DB_MYSQL_DRIVER"), urlConnection, err.Error())
	}
	DB = db
}