package userdb_pq

import (
	"fmt"
	"log"
	"os"
	"time"

	"github.com/jmoiron/sqlx"
	"{{.ProjectName}}/util"
	"gitlab.com/qasir/web/project/qasircore.git/database"
)

var DB *sqlx.DB

func OpenDB() {
	urlConnection := fmt.Sprintf(
    		"user=%s password=%s host=%s port=%s dbname=%s sslmode=disable",
    		os.Getenv("INVENTORY_DB_USER"),
    		os.Getenv("INVENTORY_DB_PASSWORD"),
    		os.Getenv("INVENTORY_DB_HOST"),
    		os.Getenv("INVENTORY_DB_PORT"),
    		os.Getenv("INVENTORY_DB_DATABASE"),
    	)

	db, err := database.OpenDBx(os.Getenv("INVENTORY_DB_DRIVER"), urlConnection)
	if err != nil {
		log.Panicf("⇨ %s Data source %s , Failed : %s \n", os.Getenv("INVENTORY_DB_DRIVER"), os.Getenv("INVENTORY_DB_DATABASE"), err.Error())
	}

    // optionally you can handle pool connection locally
	db.SetMaxOpenConns(int(util.AtoI64(os.Getenv("INVENTORY_DB_MAX_CONN"))))
	db.SetMaxIdleConns(int(util.AtoI64(os.Getenv("INVENTORY_DB_MAX_IDLE_CONN"))))
	db.SetConnMaxLifetime(5 * time.Minute)

	log.Printf("⇨ %s Data source %s  \n", os.Getenv("INVENTORY_DB_DRIVER"), os.Getenv("INVENTORY_DB_DATABASE"))
	DB = db
}