package main

import (
    "log"
	"gitlab.com/qasir/{{.ProjectName}}/transport/grpc"
	_ "gitlab.com/qasir/web/project/qasircore.git" // dialect with qasir env & apm agent
)

func main() {
    log.Println("service started !!")

    // init data source driver
    // exampledb_mongo.OpenDB()
    // exampledb_mysql.OpenDB()
    // exampledb_pq.OpenDB()
    // redis.OpenClient()

    // running transport
    // go pubsub.NewPubSubService(pubsub.NewClient(nil), nil).Start()
    // go rabbitmq.Run()
	grpc.Run()
}
