export ELASTIC_APM_SERVER_URL=http://54.255.154.124:8200
export ELASTIC_APM_ENVIRONMENT=local
export ELASTIC_APM_SERVICE_NAME=notification-edge
export ELASTIC_APM_SECRET_TOKEN=YmVtYmlwcmltYWlucWFzaXI6UzBsNHB1cl9RJHMxcl8hUUBXI0UkUiFAIyQlXiYqKCk
export ELASTIC_APM_CAPTURE_BODY=all
export ELASTIC_APM_SERVER_TIMEOUT=70s
export ELASTIC_APM_SPAN_FRAMES_MIN_DURATION=70s
export ELASTIC_APM_DEBUG="tracetransport=1"
export FILEBEAT_ADDRESS=54.255.154.124:7070

go run main.go
