package redis

import (
	"context"
	"fmt"
	"log"
	"os"

	"github.com/go-redis/redis/v7"
)

var Client *redis.Client

const DefaultDB = 2

func OpenClient() {
	db, err := strconv.Atoi(os.Getenv("REDIS_DB"))
	if err != nil {
		db = DefaultDB
	}
	Client = qRedis.OpenClient(&redis.Options{
		Addr:     os.Getenv("REDIS_HOST") + ":" + os.Getenv("REDIS_PORT"),
		Password: os.Getenv("REDIS_PASSWORD"),
		DB:       db,
	})
}

