package rabbitmq

import (
	"gitlab.com/qasir/web/project/qasircore.git/message-broker/rabbitmq"
)

var ActionHandler = map[string]rabbitmq.Handler{
	// handler.ActionExample:   handler.NewExample(),
}
