package pubsub

import (
	"context"
)

type MessageHandler interface {
	Handle(ctx context.Context, attributes map[string]string, data []byte) error
}

var MessageServiceMapping = map[string]MessageHandler{
	// "example:action":      handler.NewHandler(),
}